<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://cxf.apache.org/jaxrs
                           http://cxf.apache.org/schemas/jaxrs.xsd">
    <context:component-scan base-package="com.isb.neocrm.pc.preferente" />
    <context:component-scan base-package="test.com.isb.neocrm.pc.preferente" />
	<context:property-placeholder location="classpath:preferente.properties"  ignore-unresolvable="true"/>
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<mvc:annotation-driven />
	<jaxrs:server id="preferenteService" address="/">
		<jaxrs:serviceBeans>
			<ref bean="preferenteResourceImp" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<bean id="preferenteResourceImp"
		class="com.isb.neocrm.pc.preferente.pres.rs.impl.AccPreferenteResourceRESTimpl" />
    
    

</beans>